.insurance_box_mob {

    margin: 0 5vw;

    h3 {

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 3vh 0;
        font-size: 26px;

    }

    .insurance_p_statement {

        font-size: 20px;

    }

}