.services_p_mob {

    margin: 0 5vw;

    .services_p_statement {

        font-size: 20px;
        padding-top: 5vh;

    }

    .services_tel_num {

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 30px;

    }

}